---
---

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,700,500,500i');

$bg-color: #f7f9ff;
$text-color: #0c0c0c;
$primary-color: #ff3500;

$page-width: 780px;
$content-width: 540px;

$primary-font: 'Roboto', Arial;
$general-size: 18px;
$h1-size: 80px;
$h2-size: 40px;
$h3-size: 24px;

@mixin transition($what: all, $time: 0.2s, $how: ease-in-out, $delay: 0s) {
    transition: $what $time $how $delay;
}


body {
    background-color: $bg-color;
    color: $text-color;
    font-family: $primary-font;
    font-size: $general-size;
    font-weight: 300;
    line-height: 1.5;
    max-width: $page-width;
    margin: 80px auto 80px auto;
}

h1, h2, h3 {
    font-weight: 700;
    line-height: 1.25;
}

h1 {
    font-size: $h1-size;
    margin-top: 0;
    margin-bottom: 80px;
}

h2 {
    font-size: $h2-size;
    margin-top: 40px;
    margin-bottom: 24px;
}

h3 {
    font-size: $h3-size;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav a {
        margin-left: 20px;
        font-weight: 500;
    }
}

nav a, p a {
    color: $text-color;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    @include transition();
}

nav a:hover, nav a.selected, p a {
    border-bottom: 3px solid $primary-color;
    padding-bottom: 3px;
}

p a {
    padding-bottom: 1px;
}

nav a:hover, p a:hover {
    border-bottom-color: rgba(255, 53, 0, 0.5);
}

section {
    margin: 60px 0 0 0;

    img {
        max-width: $page-width;
    }

    p {
        max-width: $content-width;
        margin-bottom: 32px;

        em {
            font-style: italic;
            font-weight: 500;
        }
    }
}

div.blog-posts {
    max-width: $content-width;

    a {
        text-decoration: none;
        color: $text-color;
        display: block;
        margin-bottom: 80px;
        border-bottom: 3px solid transparent;
        @include transition(border-bottom-color);
    }

    a:hover {
        border-bottom: 3px solid $primary-color;
    }

    p.read-more {
        font-weight: 500;
    
        img {
            margin-left: 2px;
            @include transition(margin-left);
        }
    }

    a:hover p.read-more img {
        margin-left: 10px;
    }
}

div.circle {
    width: 700px;
    height: 700px;
    background-color: $primary-color;
    border-radius: 50%;
    position: fixed;
    right: -350px;
    bottom: -350px;
    z-index: -1;
}

div.post {
    h3 {
        margin-top: 80px;
    }

    img {
        margin-top: 32px;
        margin-bottom: 32px;
    }
}
